header {
  @include flex($justify: center, $align: center, $direction: column);
  max-width: unset;
  position: fixed;
  margin: 0 auto;
  width: 100%;
  // height: 125px;
  height: 60px;
  z-index: 99999;
  top: unset;
  left: unset;
  background: #33a7db;
  .wrapper {
    @include flex($justify: space-between, $align: center, $direction: row);
    max-width: 768px;
    width: 100%;
    // height: 50%;
    height: 100%;
    background: #33a7db 0% 0% no-repeat padding-box;
    z-index: 9999;
    .user-link {
      height: 100%;
      display: none;
    }
    .wrapper-user {
      // display: none;
      // width: 30%;
      // width: 9.9%;
      width: 107px;
      // width: 10%;
      height: 100%;
      background: #0093d6 0% 0% no-repeat padding-box;
      .head {
        border-radius: 50%;
        width: 14px;
        height: 14px;
        border: 2px solid #ffffff;
        opacity: 1;
      }
      .body {
        // border-radius: 50% 50% 0 0 / 100% 100% 0 0;
        // width: 29px;
        // height: 15px;
        // border: 2px solid #ffffff;
        // opacity: 1;
        // clip-path: circle(54% at center top);
        width: 29px;
        height: 29px;
        border: 2px solid white;
        border-radius: 50%;
      }
      .body::after {
        content: "";
        display: block;
        width: 83px;
        height: 16px;
        background: #0093d6;
        position: relative;
        top: 13px;
        right: 32px;
      }
      p {
        position: relative;
        bottom: 6px;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        opacity: 1;
      }
    }
    &-logo {
      @include flex();
      font-family: "Roboto Condensed", sans-serif;
      line-height: 65px;
      text-transform: uppercase;
      height: 100%;
      letter-spacing: -2px;
      // width: 68%;
      width: inherit;
      background: #33a7db 0% 0% no-repeat padding-box;
      // background: transparent;
      a {
        @include text(40px, $color: #4e4e4e, $W: 700);
        img {
          position: relative;
          top: 5px;
        }
      }
      p {
        display: none;
      }
    }
    &-list {
      height: 100%;
      display: flex;
      // background: transparent;
      ul {
        display: none;
        li {
          position: relative;
          display: flex;
          height: 100%;
          align-items: center;
          font-size: 15px;
          font-family: "Open Sans", sans-serif;
          a {
            position: relative;
          }
        }
      }
    }
    .settings-country-selector {
      display: none;
      margin: 0 10px;
      background: transparent;
      aside {
        section {
          ul {
            display: flex;
            li {
              a {
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: block;
                font-size: 0;
                position: relative;
                top: -50%;
              }
            }
            .lang-item-es,
            .lang-item-fr,
            .lang-item-de,
            .lang-item-it,
            .lang-item-en-us,
            .lang-item-en-gb,
            .lang-item-zh {
              width: 34px;
              height: 34px;
              background: #ffffff 0% 0% no-repeat padding-box;
              opacity: 1;
              overflow: hidden;
              border-radius: 50%;
              margin: 0 6px;
              border: 3px solid white;
            }
            .lang-item-es {
              background: url("../img/es.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-fr {
              background: url("../img/fr.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-de {
              background: url("../img/de.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-it {
              background: url("../img/it.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-en-us {
              background: url("../img/us.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-en-gb {
              background: url("../img/gb.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
            .lang-item-zh {
              background: url("../img/cn.svg") no-repeat;
              background-size: cover;
              background-position: center;
            }
          }
        }
      }

      // .spain {
      //   border: 3px solid white;
      //   background: url("./assets/es.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .germany {
      //   background: url("./assets/de.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .france {
      //   background: url("./assets/fr.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .italy {
      //   background: url("./assets/it.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .usa {
      //   background: url("./assets/us.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .england {
      //   background: url("./assets/gb.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
      // .china {
      //   background: url("./assets/cn.svg") no-repeat;
      //   background-size: 135%;
      //   background-position: center;
      // }
    }
    &-menu {
      @include text(16px, $color: #4e4e4e, $W: 700);
      height: 100%;
      background: #33a7db 0% 0% no-repeat padding-box;
      @include flex($justify: center, $align: center, $direction: row);
      text-transform: uppercase;
      $heig: 10%;
      width: 90px;
      #menu__toggle {
        opacity: 0;
      }
      .menu_btn {
        position: relative;
        @include flex();
        @include block(
          $w: 50px,
          $h: 100%,
          $bg: #33a7db 0% 0% no-repeat padding-box
        );
        box-sizing: border-box;
        cursor: pointer;
      }
      .burg {
        @include block($w: 64%, $h: 2%, $bg: rgba(255, 255, 255, 0.644));
      }
      .burg::after {
        @include block($w: 64%, $h: 2%, $bg: rgba(255, 255, 255, 0.644));
        position: absolute;
        top: 35%;
        left: 18%;
        content: "";
      }
      .burg::before {
        @include block($w: 64%, $h: 2%, $bg: rgba(255, 255, 255, 0.644));
        position: absolute;
        top: 64%;
        left: 18%;
        content: "";
      }
      .menu__box {
        list-style-type: none;
        position: absolute;
        // top: 100%;
        padding: 0;
        top: -200vh;
        left: 0;
        width: 100%;
        height: 100vh;
        min-height: 568px;
        // width: 300px;
        background: #33a7db 0% 0% no-repeat padding-box;
        z-index: -10;
        transition: top 0.5s linear;
        // opacity: 0;  0.9s
        > li:nth-child(1) {
          // padding: 20px 37px 20px;
          padding: 20px 0 20px 37px;
          background: #7d56e9 0% 0% no-repeat padding-box;
          // height: 200px;
          height: 32%;
          span {
            font-size: 15px;
            color: #b39cf2;
            text-transform: capitalize;
          }
          .list {
            // justify-content: space-around;
            display: flex;
            flex-direction: row;
            ul {
              display: flex;
              flex-direction: column;
              padding: 0;
              margin: 0 10px 0 0;
              li {
                box-sizing: border-box;
                border-bottom: 1px solid white;
                // padding: 5px 45px 10px 0;
                // padding: 5px 20px 10px 0;
                padding: 5px 40px 10px 0;
                // padding: 5px 10px 10px 0;
                text-transform: initial;
                a {
                  color: #ffffff;
                  font-size: 15px;
                  letter-spacing: -0.5px;
                  font-family: "Open Sans", sans-serif;
                }
              }
              :last-child {
                border: 0;
              }
            }
            > ul:nth-child(2) {
              li {
                padding: 5px 20px 10px 0;
                // padding: 5px 55px 10px 0;
                // padding: 5px 8px 5px 0;
              }
            }
          }
        }
        > li:nth-child(2) {
          // padding: 20px 37px 20px;
          padding: 20px 0 20px 37px;
          background: #ea4678 0% 0% no-repeat padding-box;
          // height: 240px;
          height: 35%;
          span {
            font-size: 15px;
            color: #f793af;
            text-transform: capitalize;
          }
          .list {
            // justify-content: space-around;
            display: flex;
            flex-direction: row;
            ul {
              display: flex;
              flex-direction: column;
              padding: 0;
              margin: 0 10px 0 0;
              li {
                box-sizing: border-box;
                border-bottom: 1px solid white;
                // padding: 5px 0 10px 0;
                padding: 5px 0 5px 0;
                text-transform: initial;
                a {
                  color: #ffffff;
                  font-size: 15px;
                  letter-spacing: -0.5px;
                  font-family: "Open Sans", sans-serif;
                }
              }
              :last-child {
                border: 0;
              }
            }
            > ul:nth-child(2) {
              li {
                // padding: 5px 55px 10px 0;
                padding: 5px 8px 5px 0;
              }
            }
          }
        }
        > li:nth-child(3) {
          // padding: 20px 37px 20px;
          padding: 20px 0 20px 37px;
          background: #0093d6 0% 0% no-repeat padding-box;
          // height: 240px;
          height: 33%;
          text-transform: initial;
          ul {
            padding: unset;
            li {
              padding: unset;
            }
          }
          a {
            color: #ffffff;
            font-size: 15px;
            letter-spacing: -0.5px;
            font-family: "Open Sans", sans-serif;
          }
        }
      }
      ul {
        padding: 5px;
        list-style: none;
        // display: none;
        // * {
        //   background: #33a7db 0% 0% no-repeat padding-box;
        // }
        li {
          padding: 10px;
          a {
            @include text(15px, $color: white, $W: normal);
          }
        }
      }
      // #menu__toggle:checked ~ .menu__box {
      //   // top: 21%;
      //   // top: 100%;
      //   // top: 45%;
      //   // top: 90%;
      //   z-index: -1;
      //   top: 50px;
      //   // bottom: 100vh;
      //   // top: 400px;
      //   // top: -100%;
      // }
    }
  }
}
nav {
  @include flex($justify: center, $align: center, $direction: column);
  z-index: 99998;
  position: fixed;
  top: 60px;
  height: 60px;
  right: 0;
  left: 0;
  margin: 0 auto;
  .wrapper-settings {
    @include flex($justify: space-around, $align: center, $direction: row);
    height: 100%;
    // z-index: 9999;
    z-index: 1000;
    max-width: 768px;
    width: 100%;
    .wrapper-trial {
      @include flex($justify: center, $align: center, $direction: row);
      // width: 70%;
      width: inherit;
      height: 100%;
      background: #04be64 0% 0% no-repeat padding-box;
      h2 {
        text-align: center;
        // font: Semibold 25px/50px;
        font: 600 25px/50px Open Sans;
        // font-family: "Open Sans", sans-serif;
        letter-spacing: 0;
        color: #ffffff;
        opacity: 1;
      }
    }
    a {
      height: 100%;
      // display: none;
      .wrapper-user {
        @include flex($justify: center, $align: center, $direction: column);
        // width: 30%;
        // width: 107px;

        // width: 9.9%;
        // width: 10%;
        height: 100%;
        // width: 30%;
        width: 100px;
        // height: 90px;
        background: #0093d6 0% 0% no-repeat padding-box;
        .head {
          border-radius: 50%;
          width: 14px;
          height: 14px;
          border: 2px solid #ffffff;
          opacity: 1;
        }
        .body {
          width: 29px;
          height: 29px;
          border: 2px solid white;
          border-radius: 50%;
          // border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          // width: 29px;
          // height: 15px;
          // border: 2px solid #ffffff;
          // opacity: 1;
          // clip-path: circle(54% at center top);
        }
        .body::after {
          content: "";
          display: block;
          width: 83px;
          height: 16px;
          background: #0093d6;
          position: relative;
          top: 13px;
          right: 32px;
        }
        p {
          position: relative;
          bottom: 6px;
          display: none;
          font-family: "Open Sans", sans-serif;
          color: #ffffff;
          opacity: 1;
        }
      }
    }
    .button {
      width: inherit;
      display: block;
      text-decoration: none;
    }
  }
}

.hover-menu {
  @include flex($justify: center, $align: center, $direction: column);
  position: fixed;
  margin: 0 auto;
  width: 100vw;
  // background: #33a7db;
  // top: 90px;
  z-index: 100000;
  height: 255px;
  // background: #7d56e9;
  .wrapper {
    @include flex($justify: space-around, $align: center, $direction: row);
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background: transparent;
    .elem1,
    .elem2,
    .elem3 {
      display: flex;
      align-items: center;
      /* justify-content: center; */
      flex-direction: column;
      height: 100%;
      // width: 200px;
      ul {
        margin: 0 20px;
        li {
          list-style-type: none;
          a {
            text-decoration: none;
            font-size: 25px;
            font-family: "Open Sans", sans-serif;
            color: white;
            line-height: 42px;
            border-bottom: 1px solid white;
            // font: Semibold 25px/42px Open Sans;
            letter-spacing: -0.5px;
          }
        }
        li:last-child {
          a {
            border: none;
          }
        }
      }
    }
  }
}
.active {
  text-transform: underline;
  color: white;
  .active_span {
    border-bottom: 1px solid white;
    line-height: 30px;
    // top: 1px;
    position: relative;
  }
}
// .active::after {
//   position: absolute;
//   top: 60%;
//   left: 50%;
//   transform: translate(-50%, -60%);
//   content: "";
//   background: white;
//   // width: 50px;
//   width: calc(3.5em - 0.5%);
//   height: 2px;
// }
